
{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <p>
      Hello people, I am Ishan Lakhwani, 3rd year B.Tech student at Nirma University. I've created this network for students to express themselves. It will cover updates from all over university and all clubs.
      Languages and Framework used -
      <!-- <li>JavaScript</li> -->
      <li>Flask (Python)</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstap</li>
      <img src="./static/profile_pics/tools.png">
      <a href="https://www.linkedin.com/in/ishanl/"><img height="300" width="300" align="right" src="./static/profile_pics/linkedin.jpg"></a>

      </p>

      <p font-size = 20px>
        This is Nirma's first social netwrok website. The network architechture is based on anonymous self- stabilizing algorithm. Your identity is completely masked so SPEAK YOUR HEART OUT!
        <li>Agree or Disagree with the happenings in the college.</li>
        <li>Confessions that never came out.</li>
        <li>Changes in the rules of university or working of clubs</li>
        <li>Express anything you want because nobody knows who you are!</li>


      </p>
      <div>
        Project source code - link
      </div>


    </p>
{% endblock content %}
