{% extends "layout.html" %}
{% block content %}
    <h1>EESA</h1>
    <img class="logo" height="400" width="600"  src="./static/profile_pics/eesalogo.jpg">
    <p>To strive to send a message of change for the engineering aspirants to not settle with past but evolve for the future - to encourage and implement ideas that they don't remain and die within a closet, it's a place to nurture ideas such that it goes steps ahead than just being a idea.
    </p>
    <img class="logo" src="./static/profile_pics/eesateam.jpg">
{% endblock content %}
