{% extends "layout.html" %}
{% block content %}
    <h1>MESA</h1>
    <p>MESA is the MECHANICAL ENGINEERING STUDENT ASSOCIATION.
It is a student chapter of NIRMA UNIVERSITY which strives for sychronization between academic learning and recent development in Industry and to provide opportunity for all round development of students.
It conducts various events regarding the same.


Keep updated for any recent developments..:)!!</p>
<img class="logo" src="./static/profile_pics/mesalogo.jpg">
{% endblock content %}
