{% extends "layout.html" %}
{% block content %}
    <h1>Rotaract CLub Of Nirma Institutes</h1>
    <p>
      "Success usually comes to those who are too busy to be looking for it."

        Rotaract Club of Nirma institutes would like to congratulate all the newly elected board members with great elation and pride. Here we present you the D-TEAM who will be continuing the saga of great legacy of last 20 years.
<img class="logo" height="300" width="300" align="right" src="./static/profile_pics/rcnilogo.png">
        <li>President - Rtr. Sneh Patel</li>
        <li>Vice President -Rtr. Lay Vakil</li>
        <li>General Secretary -Rtr. Meet Fachra</li>
        <li>Deputy Secretary -Rtr. Ankit Sangada</li>
        <li>Deputy Secretary -Rtr. Jaysinh Rajput</li>
        <li>Joint Secretary -Rtr. Shikha Agarwal</li>
        <li>Joint Secretary -Rtr. Aditya Mahajan</li>
        <li>Organising Secretary -Rtr. Tanya Smriti</li>
        <li>Organising Secretary -Rtr. Soumil Pandey</li>
        <li>Managing Secretary -Rtr. Ansh Vyas</li>
        <li>Chief Secretary - Rtr. Kaushik Jain</li>
        <li>Chief Administrator -Rtr. Digvijay Goswami</li>
        <li>Rotaract Representative -Rtr. Akash Sheth</li>
        <li>Rotaract Representative- Rtr. Jay Bhatt</li>
        <li>Sergeant at Arms - Rtr. Adhaar Kaul</li>
        <li>Treasurer -Rtr. Raj Mehta</li>
        <li>Joint Treasurer -Rtr. Kush Damani</li>
        <li>Event Administrator- Rtr. Arjun Patel</li>
        <li>Executive Head -Rtr. Hrutwi Kakadia</li>
        <li>Executive Head -Rtr. Paridhi Saxena</li>
        <li>Marketing Head - Rtr. Fagun Parikh</li>
        <li>Marketing Head - Rtr. Naman Mehta</li>
        <li>H.R. Head - Rtr. Karan Mehta</li>
        <li>Club Administrator - Rtr. Somil Kabra</li>
        <li>Logistic Head -Rtr. Harshil Kadia</li>
        <li>Production Head -Rtr. Parth Nanvani</li>
        <li>Event Managing Head -Rtr. Dhuri Shrivastava</li>
        <li>Event Managing Head -Rtr. Keshin Mehta</li>
        <li>Club Coordinator -Rtr. Shivam Dave</li>
        <li>Public Relation Officer -Rtr. Nikhil Dubey</li>
        <li>Social media Managing Head -Rtr. Maitri Madia</li>
        <li>Publicity Head -Rtr. Pulkit Bansal</li>
        <li>Publicity Head -Rtr. Shreyansh Surana</li>
        <li>Hospitality Head -Rtr. Aniket Vakil</li>
        <li>Sports Head -Rtr. Kavish Ganesh</li>
        <li>Sports Head -Rtr. Aman Suthar</li>
        <li>Editor in Chief -Rtr. Bhavya Singh</li>
        <li>Spokesperson -Rtr. Geetam Shah</li>
        <li>External Affairs -Rtr. Kadam Morakhia</li>
        <li>Creative Head -Rtr. Himanshu Rajput</li>
        <li>Creative Head -Rtr. Simran Agarwal</li>
        <li>Graphic Designing Head -Rtr. Bhoumik Suthar</li>
        <li>Operational Head -Rtr. Kartik Joshi</li>
        <li>Pharmacy Head -Rtr. Swati Patil</li>
        <li>Creative Coordinator -Rtr. Jaydeep Hapaliya</li>
    </p>
{% endblock content %}
